pip==25.0.1
setuptools==70.0.0
wheel

streamlit==1.39.0
streamlit-lottie==0.0.5
streamlit-mic-recorder==0.0.4
streamlit-autorefresh==0.0.3

openai==1.52.0
elevenlabs==1.5.0

langchain==0.2.12
langchain-core==0.2.38
langchain-openai==0.1.16

pydantic==2.9.0
requests==2.32.3
pandas==2.2.3
matplotlib==3.9.2
qrcode==7.4.2
Pillow==10.4.0
